@import url("https://fonts.googleapis.com/css2?family=Potta+One&family=Yusei+Magic&display=swap");

.todo__list {
  display: flex;
  /* text-align: center; */
}

.input__todo {
  padding: 2px 6px;
  word-wrap: break-word;
}

.edit__todo {
  align-self: center;
  padding: 5px;
  padding-right: 10px;
  cursor: pointer;
}

.delete__todo {
  padding: 5px;
  cursor: pointer;
  align-self: center;
}

.modal__input {
  margin-right: 10px;
  padding: 5px;
  width: 70%;
}

.modal {
    width: 100%;
}



@media (max-width: 390px) {
    .modal__input {
        margin-bottom: 8px;
      }
}